*{
    margin: 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}


a{
     text-decoration: none;
     color: black;
}

.contenedor{
    width: 100%;
    grid-area: estruct;
    padding: 10px 50px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 450px auto ;
    grid-template-areas: "header"
                        "presentacion" 
                        "history"
                        "cds"
                        "top"
                        "contact";
    background-image: linear-gradient(to bottom right,  #0a4991, #020f1d) ;
/*     transition: all  .3s ease;
 */
}


                    /* header */
.header{
    grid-area: header;
/*     background:rgb(10, 73, 145) ;  
 */    padding: 5px 10px;
    display: grid;
    grid-template-columns: auto  1fr  auto;
    grid-template-areas: "logo search tool";
    align-items: center;
    justify-content: space-between ;
    grid-gap: 20px;
}

.header .logotipo{
grid-area: logo;
display: flex;
align-items: center;

}
.header .logotipo .logo .fab{

    font-size: 40px ;
    border-radius: 8px;
    padding: 10px 15;
    color: aliceblue;

}
.header .logotipo  .logo span{
    text-transform: uppercase;
    color: aliceblue;
    position: relative;
    top: -6px;
    left: 3px;
}

.header .bar-search{
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .bar-search input{
    min-width: 65%;
    padding: 0 15px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #d1e8f3;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.header .bar-search button{
    height: 30px;
    border: #ccc;
    border-left: 1px solid  #ccc;
    border-left: none;
    color: rgb(104, 104, 156);
    
    padding: 0 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.header .bar-search button:hover{
background-color: #d4b8b8;
}

.header .tools{
grid-area: tool;
display: flex;
align-items: center;
}

.header .tools button{
background :none  ;
border: none;
height: 40px;
width: 40px;
border-radius: 100px;
color: #d1e8f3;
padding: 7px 12px;
cursor: pointer;
font-size: 20px;
margin-right: 18px;

}

.header .tools button:hover{
    color: #ffffff;
    background-color: #063061;
}

.header .tools .avatar {
    display: inline-block;
    width: 30px;
    height:30px ;
    margin-right: 10px;
}
.header .tools .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100px ;
    
}
/* ~ ~ ~  ~ ~ ~ ~ ~ ~ ~  ~presentacion ~ ~ ~ ~ ~ ~ ~~ ~ ~ ~ ~ ~ ~~ ~*/

.presentacion{ 
    grid-area: presentacion;
    background-image: url(./imagenes/kevin-johansen-1021x550.jpg);
   /*  align-items: center ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-width: 360px;
    max-height: 450px;
    min-height: 200px; 
    transition: all .10s ease;

    transition: color 5s;

    display: flex;
   justify-content: center;
   align-items: center;
}
.profesion{
    color: #fcfaf9;
    text-align: left;
    height: 100%;
    width: 100%;
     padding: 60px;
     text-shadow:  4px 6px  rgb(5, 5, 17) ;
    transition: color 5s;

} 

.profesion:hover{
    color: rgb(231, 74, 74)
}
.profesion strong{
    color: #1363b8;
}



/* ~ ~ ~  ~ ~ ~ ~ ~ ~ ~  ~ history ~ ~ ~ ~ ~ ~ ~~ ~ ~ ~ ~ ~ ~~ ~*/
.history{
    grid-area: history;
/*     background-color: rgb(153, 119, 67);

 */}

 /* ~ ~ ~  ~ ~ ~ ~ ~ ~ ~  ~ cds ~ ~ ~ ~ ~ ~ ~~ ~ ~ ~ ~ ~ ~~ ~*/


 .cds{
    grid-area: cds;
   /*  background-color: rgb(134, 100, 48); */
}
.top{
    grid-area: top;
   /*  background-color: rgb(117, 77, 18); */
}
.contact{
    grid-area: contact;
    /* background-color: rgb(68, 46, 14); */
}